<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/normalize.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="page-container">
        <header>
            <nav class="nav">
                <div class="nav-logo">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" class="logo">
                    </a>
                </div>
                <div class="nav-menu">
                    <partial name="_LoginPartial">
                </div>
            </nav>
        </header>

        <main>
            @RenderBody()
        </main>

        <footer>
            <div class="footer-wrapper">
                <hr>
                <div class="footer-content">
                    <div class="footer-info">
                        <span>© Copyright @DateTime.Now.Year</span>
                    </div>
                    <div class="footer-options">
                        <a asp-controller="Home" asp-action="Index">Inicio</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
