
@using Microsoft.AspNetCore.Identity
@using VentaRopa.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" style="display: flex;">
        <div class="boton">Bienvenido @UserManager.GetUserName(User)</div>
        <button type="submit" class="boton">Cerrar sesión</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="boton">Iniciar sesión</a>
}