@model LoginViewModel

@{
    ViewData["Title"] = "Iniciar sesión";
}

<div class="form-container">
    <h1>Iniciar sesión</h1>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input class="form-control" asp-for="Nombre">
            <span asp-validation-for="Nombre"></span>
        </div>
        <div class="form-group">
            <label asp-for="Clave"></label>
            <input class="form-control" asp-for="Clave">
            <span asp-validation-for="Clave"></span>
        </div>
        <div class="button-container">
            <button type="submit" class="boton" name="guardar">Iniciar sesión</button>
        </div>
    </form>
    <div style="margin-top: 1rem;">
        ¿No tienes una cuenta? <a asp-controller="Account" asp-action="Registrar">Regístrate</a>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial">
}
