@model ReporteVentasViewModel

@{
    ViewData["Title"] = "Reporte de ventas";
}

<h2>Reporte de ventas</h2>

<table class="tabla">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Promedio de venta del producto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var venta in Model.Ventas)
        {
            <tr>
                <td>@venta.Producto</td>
                <td>@venta.Cantidad</td>
                <td>$@venta.Total</td>
                <td>$@venta.PromedioProducto</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"><span>Total ganado en el día:</span> $@Model.Total</td>
        </tr>
    </tfoot>
</table>
