@{
    ViewData["Title"] = "Venta de Ropa";
}

    <ul class="main-menu">
        <li>
            <a class="boton" asp-controller="Productos" asp-action="Crear">Nuevo producto</a>
        </li>
        <li>
            <a class="boton" asp-controller="Ventas" asp-action="Crear">Formulario de venta</a>
        </li>
        <li>
            <a class="boton" asp-controller="Ventas" asp-action="Reporte">Ver reporte de venta</a>
        </li>
    </ul>